# <center>Big Data For Engineers&ndash; Exercises</center>
## <center>Spring 2022 &ndash; Week 1 &ndash; ETH Zurich</center>

### Aims
- **After this exercise:** Understand the SQL language and its common query patterns.
- **Later in the semester:** Relate these language features and query patterns relative to other data shapes, technologies, and the languages designed to query them.



- **After this exercise:** Understand the 'table' data shape, normalization, and when they can (and should) be used.
- **Later in the semester:** Understand when you can (and should) throw all of this away!

### Prerequisites
In this exercise, you will brush-up the fundamental concepts of relational databases and SQL. If you haven't taken an introductory databases course (or want to refresh your knowledge) we recommend you to read the following:

Garcia-Molina, Ullman, Widom: Database Systems: The Complete Book. Pearson, 2. Edition, 2008. (Chapters 1, 2, 3, and 6) [Available in the ETH Library] [[Online]](https://ebookcentral.proquest.com/lib/ethz/detail.action?pq-origsite=primo&docID=5832965) [[Selected solutions]](http://infolab.stanford.edu/~ullman/dscbsols/sols.html)

### Database Set-up
Unlike last week's exercise, the dataset for this exercise might take a little bit longer to download and initialize. Please wait for the message `PostgreSQL init process complete; ready for start up` before proceeding!

As before, we set up our connection to the database and enable use of `%sql` and `%%sql`.

In [2]:
server='postgres'
user='postgres'
password='BigData1'
database='discogs'
connection_string=f'postgresql://{user}:{password}@{server}:5432/{database}'

In [3]:
%reload_ext sql
%sql $connection_string

In [4]:
%%sql
SELECT version();

 * postgresql://postgres:***@postgres:5432/discogs
1 rows affected.

[('PostgreSQL 13.4 (Debian 13.4-1.pgdg100+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 8.3.0-6) 8.3.0, 64-bit',)]

## Exercise 1: Explore the dataset
We want to first understand the dataset a bit better. You will find some queries below to help you explore the schema. In the process, consider the following questions:

1. Which concepts are modelled in the dataset and how do they relate to each other?
2. The data is stored as tables. Why was this shape chosen and why not the other shapes?
3. In which normal forms are the corresponding relations?
4. What are the efficiency trade-offs from adding an `artist_id` and `artist_name` directly to the `releases` table? Hints:
   - What are some typical queries that would benefit from this change?
   - How often do we need to update artists?
5. What potential problems could result from adding this redundancy?

### Where we got the data from
- [Discogs](https://www.discogs.com/)
- [Discogs XML data dumps](http://data.discogs.com/)
- [Download the dataset](https://cloud.inf.ethz.ch/s/4bZWo4TjeXgCNz5) (only necessary if you don't want to use Docker, see `postgres-init.sh` to see how to import it)

### List tables
The following query retrieves a list of tables in the database from a system table describing the current database.

In [4]:
%%sql 
SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'public';

 * postgresql://postgres:***@postgres:5432/discogs
4 rows affected.

[('artists',), ('released_by',), ('releases',), ('tracks',)]

### List attributes/columns
The following query retrieves a list of columns from the tables in the database.

In [5]:
%%sql 
SELECT table_name, column_name, data_type, is_nullable, ordinal_position
FROM information_schema.columns
WHERE table_schema = 'public'
AND table_name NOT LIKE 'pg_%'
ORDER BY table_name, ordinal_position;

 * postgresql://postgres:***@postgres:5432/discogs
17 rows affected.

[('artists', 'artist_id', 'integer', 'NO', 1),
 ('artists', 'name', 'character varying', 'YES', 2),
 ('artists', 'realname', 'text', 'YES', 3),
 ('artists', 'profile', 'text', 'YES', 4),
 ('artists', 'url', 'text', 'YES', 5),
 ('released_by', 'release_id', 'integer', 'NO', 1),
 ('released_by', 'artist_id', 'integer', 'NO', 2),
 ('releases', 'release_id', 'integer', 'NO', 1),
 ('releases', 'released', 'date', 'NO', 2),
 ('releases', 'title', 'text', 'NO', 3),
 ('releases', 'country', 'character varying', 'YES', 4),
 ('releases', 'genre', 'character varying', 'NO', 5),
 ('tracks', 'release_id', 'integer', 'NO', 1),
 ('tracks', 'position', 'character varying', 'YES', 2),
 ('tracks', 'title', 'text', 'YES', 3),
 ('tracks', 'duration', 'integer', 'YES', 4),
 ('tracks', 'track_id', 'integer', 'NO', 5)]

## Exercise 2: SQL warm-up
Let us begin with several SQL queries to ease us back into the language.

1. Retrieve all artists with the name of 'Radiohead'.

In [6]:
%%sql
SELECT * FROM artists
WHERE name='Radiohead';

 * postgresql://postgres:***@postgres:5432/discogs
1 rows affected.

[(3840, 'Radiohead', None, 'Alternative Rock (Modern Rock) band from Oxfordshire, England (United Kingdom).\r \r The name Radiohead comes from the [a=Talking Heads] song, "Radio ... (2253 characters truncated) ...  [a=Pixies], [a=Magazine], [a=Joy Division], and [a=R.E.M.] (with lead singer of the band, Thom Yorke, refering to himself as an \'R.E.M. groupie\').', 'http://www.radiohead.com')]

2. List the titles of all releases by that artist in alphabetical order.

In [6]:
%%sql
SELECT DISTINCT releases.title FROM 
    releases 
    JOIN 
    released_by ON releases.release_id=released_by.release_id
    JOIN
    artists ON artists.artist_id=released_by.artist_id
WHERE artists.name='Radiohead' ORDER BY releases.title ASC

 * postgresql://postgres:***@postgres:5432/discogs
61 rows affected.

[('2+2=5',),
 ('27 5 94 The Astoria London Live',),
 ('7 Television Commercials',),
 ('7 Television Commercials.',),
 ('Airbag / How Am I Driving?',),
 ('Ale To The Thieves',),
 ('Amnesiac',),
 ('Anyone Can Play Guitar',),
 ('A Punchup At A Wedding',),
 ('Beats And Breaks',),
 ("Bizarre Love Triangle / Everything In Its Right Place (Nigel's Progressive House Mixes)",),
 ('Climbing Up The Walls (Remixes)',),
 ('Com Lag (2plus2isfive)',),
 ('Creep',),
 ('Deep In Velvet / Idioteque',),
 ('Drill',),
 ('Everything In Its Right Place (Aquasky Remix)',),
 ('Everything In Its Right Place (House Mix)',),
 ('Fake Plastic Trees',),
 ('Go To Sleep',),
 ('Go To Sleep (Zoo DJs Remix)',),
 ('Greenhouse Effect Vs. Radiohead',),
 ('Hail To The Thief',),
 ('Hail To The Thief (Special Edition)',),
 ('High & Dry',),
 ('High & Dry / Planet Telex',),
 ('Idioteque',),
 ('I Might Be Wrong - Live Recordings',),
 ('Interview CD',),
 ('Itch',),
 ('Just',),
 ('Karma Police',),
 ('Kid A',),
 ('Kid A (Book And Compact Disc)',),
 ('Knives Out',),
 ('Knives Out / Cuttooth',),
 ('Lucky',),
 ('My Iron Lung',),
 ('My Iron Lung E.P.',),
 ('No Surprises',),
 ('No Surprises / Running From Demons = ノーサプライゼス〜ランニング・フロム・ディーモンズ',),
 ('OK Computer',),
 ('Pablo Honey',),
 ('Packt Like Sardines In A Crushd Tin Box (SM Remix)',),
 ('Paranoid Android',),
 ('Planet Telex',),
 ('Pop Is Dead',),
 ('Pyramid Song',),
 ('Radiohead - In-Store Compilation',),
 ('Remyxomatosis / Sktterbrain',),
 ('Street Spirit',),
 ('Street Spirit / Die Another Day',),
 ('Street Spirit (Fade Out)',),
 ('The Bends',),
 ('The Bends T/W Edition',),
 ('The Bends = ザ・ベンズ',),
 ('The Gloaming (DJ Shadow Remix)',),
 ('The Kid Parade',),
 ('There There',),
 ('The Right Place',),
 ('Where I End And You Begin (2005 Club Mix)',)]

3. List the titles of all releases by that artist that contain less than 5 tracks.

In [16]:
%%sql
SELECT releases.title FROM
    releases
    JOIN
    released_by ON releases.release_id=released_by.release_id
    JOIN
    artists ON artists.artist_id=released_by.artist_id
    JOIN
    tracks ON released_by.release_id=tracks.release_id
WHERE artists.name = 'Radiohead' GROUP BY releases.title HAVING COUNT(*) < 5

 * postgresql://postgres:***@postgres:5432/discogs
24 rows affected.

[('Ale To The Thieves',),
 ('Anyone Can Play Guitar',),
 ('A Punchup At A Wedding',),
 ("Bizarre Love Triangle / Everything In Its Right Place (Nigel's Progressive House Mixes)",),
 ('Climbing Up The Walls (Remixes)',),
 ('Deep In Velvet / Idioteque',),
 ('Drill',),
 ('Everything In Its Right Place (Aquasky Remix)',),
 ('Everything In Its Right Place (House Mix)',),
 ('Go To Sleep (Zoo DJs Remix)',),
 ('Idioteque',),
 ('Just',),
 ('Knives Out / Cuttooth',),
 ('Lucky',),
 ('My Iron Lung E.P.',),
 ('Packt Like Sardines In A Crushd Tin Box (SM Remix)',),
 ('Planet Telex',),
 ('Pop Is Dead',),
 ('Remyxomatosis / Sktterbrain',),
 ('Street Spirit',),
 ('Street Spirit / Die Another Day',),
 ('The Gloaming (DJ Shadow Remix)',),
 ('The Right Place',),
 ('Where I End And You Begin (2005 Club Mix)',)]

4. What are the top 10 artists with the most releases?

In [27]:
%%sql
SELECT artists.name,COUNT(*) FROM
    artists
    JOIN
    released_by ON artists.artist_id=released_by.artist_id
    JOIN
    releases ON releases.release_id=released_by.release_id
    GROUP BY (artists.name) ORDER BY count DESC LIMIT 10

 * postgresql://postgres:***@postgres:5432/discogs
10 rows affected.

[('Various Artists', 46123),
 ('Depeche Mode', 1053),
 ('Madonna', 617),
 ('Pet Shop Boys', 600),
 ('Moby', 546),
 ('New Order', 454),
 ('Erasure', 448),
 ('The Cure', 417),
 ('U2', 365),
 ('The Prodigy', 355)]

5. How many artists have more releases than the average number of releases per artists (who have at least 1 release)

In [47]:
%%sql
SELECT COUNT(*) FROM(
SELECT artists.name FROM (
        artists
        JOIN
        released_by ON artists.artist_id=released_by.artist_id
        JOIN
        releases ON releases.release_id=released_by.release_id
        GROUP BY artists.name HAVING COUNT(*) > (SELECT AVG(count) FROM (
    SELECT artists.name, COUNT(*) AS count FROM
        artists
        JOIN
        released_by ON artists.artist_id=released_by.artist_id
        JOIN
        releases ON releases.release_id=released_by.release_id
        GROUP BY artists.name) AS foo)) AS bar)

 * postgresql://postgres:***@postgres:5432/discogs
(psycopg2.errors.SyntaxError) syntax error at or near "GROUP"
LINE 7:         GROUP BY artists.name HAVING COUNT(*) > (SELECT AVG(...
                ^

[SQL: SELECT COUNT(*) FROM( SELECT artists.name FROM (
        artists
        JOIN
        released_by ON artists.artist_id=released_by.artist_id
        JOIN
        releases ON releases.release_id=released_by.release_id
        GROUP BY artists.name HAVING COUNT(*) > (SELECT AVG(count) FROM (
    SELECT artists.name, COUNT(*) AS count FROM
        artists
        JOIN
        released_by ON artists.artist_id=released_by.artist_id
        JOIN
        releases ON releases.release_id=released_by.release_id
        GROUP BY artists.name) AS foo)) AS bar)]
(Background on this error at: https://sqlalche.me/e/14/f405)

6. What are the names and IDs of the artists that have both a release with the genre 'Pop' *and* a release with the genre 'Classical'? Give a query that uses `INTERSECT` and one that uses `EXISTS`.

In [60]:
%%sql
SELECT * FROM
    (SELECT artists.name,artists.artist_id FROM
        artists
        JOIN
        released_by ON artists.artist_id=released_by.artist_id
        JOIN
        releases ON releases.release_id=released_by.release_id
        WHERE releases.genre='Pop')
    INTERSECT
    (SELECT artists.name,artists.artist_id FROM(
        artists
        JOIN
        released_by ON artists.artist_id=released_by.artist_id
        JOIN
        releases ON releases.release_id=released_by.release_id
        WHERE releases.genre='Classical')

 * postgresql://postgres:***@postgres:5432/discogs
(psycopg2.errors.SyntaxError) syntax error at or near "INTERSECT"
LINE 7:     INTERSECT
            ^

[SQL: SELECT * FROM (SELECT artists.name,artists.artist_id FROM(
        artists
        JOIN
        released_by ON artists.artist_id=released_by.artist_id
        JOIN
        releases ON releases.release_id=released_by.release_id
    INTERSECT
    (SELECT artists.name,artists.artist_id FROM(
        artists
        JOIN
        released_by ON artists.artist_id=released_by.artist_id
        JOIN
        releases ON releases.release_id=released_by.release_id
        WHERE releases.genre='Classical')]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [ ]:
%%sql
...

## Exercise 3: Impact of release genre on average track duration and track count
For this exercise, we want to find out how average track duration and track count varies across genres.

To start, write a query which finds all of the distinct genres:

In [ ]:
%%sql
...

Take a guess as to which genre has:
1. The highest average track count?
2. The lowest average track count?
3. The longest average track duration?
4. The shortest average track duration?

Next, write a query to calculate the average track count per genre:

In [13]:
%%sql 

SELECT COUNT(*) FROM (
        SELECT artists.name AS Pop_name, COUNT(*) AS count_pop FROM
        releases
        JOIN
        released_by ON releases.release_id=released_by.release_id
        JOIN
        artists ON artists.artist_id=released_by.artist_id
        JOIN
        tracks ON released_by.release_id=tracks.release_id
        WHERE releases.genre='Pop' GROUP BY artists.name) AS bar
JOIN
        (SELECT artists.name AS Rock_name, COUNT(*) AS count_rock FROM
        releases
        JOIN
        released_by ON releases.release_id=released_by.release_id
        JOIN
        artists ON artists.artist_id=released_by.artist_id
        JOIN
        tracks ON released_by.release_id=tracks.release_id
        WHERE releases.genre='Rock' GROUP BY artists.name) AS foo
    ON bar.Pop_name=foo.Rock_name WHERE count_pop>2 AND count_rock>3

 * postgresql://postgres:***@postgres:5432/discogs
1 rows affected.

[(184,)]

Write a query to calculate the average duration per genre. Your result should have two attributes: `genre` and `avg_duration`.

In [35]:
%%sql
SELECT COUNT(*) FROM
    (SELECT Gaa.time AS time_g,(Gaa.open-Gba.open) AS spread_g FROM
    ise_quiz2_stocks.goog_s1_bid_a AS Gba
    JOIN
    ise_quiz2_stocks.goog_s1_ask_a AS Gaa 
    ON Gba.time=Gaa.time
    WHERE Gaa.time>='2017-10-23 14:30:04' AND Gaa.time<='2017-10-23 14:30:09') AS g_spread_table

FULL OUTER JOIN

    (SELECT Aaa.time AS time_a,(Aaa.open-Aba.open) AS spread_a FROM
    ise_quiz2_stocks.aapl_s1_bid_a AS Aba
    JOIN
    ise_quiz2_stocks.aapl_s1_ask_a AS Aaa 
    ON Aba.time=Aaa.time
    WHERE Aaa.time>='2017-10-23 14:30:04' AND Aaa.time<='2017-10-23 14:30:09') AS a_spread_table
ON g_spread_table.time_g=a_spread_table.time_a
WHERE spread_a<spread_g OR spread_a IS NULL

 * postgresql://postgres:***@postgres:5432/discogs
(psycopg2.errors.SyntaxError) syntax error at or near "AS"
LINE 8:     AS foo
            ^

[SQL: SELECT AVG(tracks.duration) FROM releases
        JOIN
        released_by ON releases.release_id=released_by.release_id
        JOIN
        artists ON artists.artist_id=released_by.artist_id
        JOIN
        tracks ON released_by.release_id=tracks.release_id
    AS foo
WHERE releases.genre='Classical']
(Background on this error at: https://sqlalche.me/e/14/f405)

Did the results match what you expected? Copy your query into the following python script to plot the result.

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt

# Store the result of the query in a Python object (add your query here!)
result = %sql ...

# Convert the result to a Pandas data frame
df = result.DataFrame()

# Extract x and y values for a plot
x = df['genre'].tolist()
y = df['avg_duration'].tolist()

# Print them just for debugging
print(x)
print(y)

# Plot the distribution of scores
fig = plt.figure(figsize =(14, 7))
plt.barh(x, y, align='center')
plt.xlabel('Average Duration (s)')
plt.ylabel('Genre')

## Exercise 4: Discuss query patterns and language features of SQL
1. What patterns did you use in many of the queries above?

2. Do you remember the theory behind them?

3. What makes SQL a declarative language and what advantages does that have?

4. What makes SQL a functional language and what advantages does that have?